<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.campuspo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <permission android:name="com.campuspo.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.campuspo.gcm.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme"
        android:name="com.campuspo.app.CampusPoApplication">
        <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar"  -->
        
        <receiver 
            android:name="com.campuspo.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.campuspo"/>
                
            </intent-filter>
            
        </receiver>
        
        <activity
            android:name="com.campuspo.activity.GcmActivity"/>
        <activity
            android:name="com.campuspo.activity.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.campuspo.activity.MainActivity"
             android:screenOrientation="portrait"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.campuspo.activity.NavigationActivity" >
            
        </activity>
        <activity
            android:name="com.campuspo.activity.PosterActivity"
            android:parentActivityName="com.campuspo.activity.MainActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.campuspo.activity.MainActivity" />
        </activity>
        
        <activity
            android:name="com.campuspo.activity.DelegationActivity" />
        <activity 
            android:name="com.campuspo.activity.PublishPosterActivity" />
        <activity 
            android:name="com.campuspo.activity.PersonalPosterActivity"/>
        <provider 
            android:name="com.campuspo.provider.PublicTimelineProvider"
            android:authorities="com.campuspoe.provider.PublicTimelineProvider"
            android:exported="false" />
        
        
        <activity
            android:name="com.campuspo.activity.SettingActivity"/>
        
        <activity
            android:name="com.campuspo.activity.ScreenSlideActivity"
            android:parentActivityName="com.campuspo.activity.MainActivity" />
        <service 
         	android:name="com.campuspo.service.CampusPoService" />
    </application>

</manifest>
